<div class="page-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%- title %></li>
    </ol>
  </nav>
  <h1 class="page-title mb-4"><%- title %></h1>
</div>
<div class="table-wrapper" id="table-wrapper-1">
  <dl class="row">
    <dt class="col-sm-3">Perusahaan</dt>
    <dd class="col-sm-9">Binar Car Rental</dd>
  
    <dt class="col-sm-3">Industri</dt>
      <dd class="col-sm-9">Otomotif</dd>
  
    <dt class="col-sm-3">Didirikan oleh</dt>
    <dd class="col-sm-9">2022</dd>
  
    <dt class="col-sm-3 text-truncate">Pendiri</dt>
    <dd class="col-sm-9">Binar Academy</dd>
  
    <dt class="col-sm-3">Kantor pusat</dt>
    <dd class="col-sm-9">
      <dl class="row">
        <dd class="col-sm-9">Semarang, Jawa Tengah</dd>
      </dl>
    </dd>
  </dl>
</div>
